{% extends 'base-front.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="breadcrumb-section breadcrumb-bg" >
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Marhbe bik</p>
						<h1>Forget Password</h1>
					</div>
				</div>
			</div>
		</div>
    </div>
    <section class="login spad" style="background-image: url('front-office/assets/img/logininterface.jpg');" style="background-size:cover;">
            <div class="container" style="background-color: transparent;">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="login__form">
                            <h3>Forget Password</h3>
                            {{ form_start(form) }}
                            {{ form_row(form.email) }}
                            {{ form_widget(form.submit) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                    <div class="login__register">
                        <h3>I remember my password</h3>
                        <a href="{{ path('app_login')}}" class="primary-btn">Login now</a>
                    </div>
                </div>
                </div>
            </div>
    </section>

    
{% endblock %}