{% extends 'base-back.html.twig' %}
{% block stylesheets %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<style>
		@import url('https://fonts.googleapis.com/css2?family=Pacifico &display=swap');
		.action-button {
			padding: 2px;
			margin-left: 80%;
			border-radius: 10px;
			font-family: 'Pacifico', cursive;
			font-size: 17px;
			color: #ffffff;
			text-decoration: none;
			background-color: coral;
			border-bottom: 5px solid coral;

			transition: all 0.1s;
			-webkit-transition: all 0.1s;
		}
		.action-button:active {
			transform: translate(0px, 5px);
			-webkit-transform: translate(0px, 5px);

		}
	</style>
{% endblock %}
{% block PageTitle %}
	<h1 style="text-align: center; ">Liste Séances</h1>
	<a href="{{ path('add_seance') }}" class="action-button">
		Ajouter Séance
	</a>

{% endblock %}
{% block body %}
	<a href="{{ path('statistiques_seance') }}" class="action-button">
		Voir Statistique
	</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th style="color: coral ">Id séance</th>
				<th style="color: coral">Num séance</th>

			</tr>
		</thead>
		{% for c in tabseance.data %}
			<tr>
				<td>
					{{c.getId()}}</td>

				<td>{{c.getNbrSeance()}}</td>
				<td>
					<!-- Icone de détails -->
					<a style="color:#52BE80" href="{{ path('detail_seance', { id: c.getId()}) }}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-postcard" viewbox="0 0 16 16">
							<path fill-rule="evenodd" d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4Zm7.5.5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7ZM2 5.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5ZM10.5 5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3ZM13 8h-2V6h2v2Z"/>
						</svg>
					</a>
				</td>
				<td>
					<!-- Icone de modification -->
					<a style="color:coral" href="{{ path('update_seance', { id: c.getId()}) }}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-pencil-fill" viewbox="0 0 16 16">
							<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
						</svg>
					</a>

				</td>

				<td>
					<!-- Icone de suppression -->
					<a style="color: #E74C3C  " data-bs-toggle="modal" data-bs-target="#exampleModal">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
							<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
							<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
						</svg>
					</a>
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">

									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									Voulez-vous vraiment supprimer cette séance ?
								</div>
								<div class="modal-footer">
									<a style="color: #D68910;" href="{{ path('list_seance', { id: c.getId()}) }}">Annuler</a>
									<a style="color: #D68910;" href="{{ path('remove_seance', { id: c.getId()}) }}">Supprimer</a>

								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>

		{% endfor %}
	</table>


	{% set path = 'list_seance' %}
	{% set pages = tabseance.pages %}
	{% set currentPage = tabseance.page %}
	{% include "pagination.html.twig" %}
{% endblock %}
