{% extends 'base-back.html.twig' %}
{% block sidenav %}{% endblock %}
{% block stylesheets %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


	<style>
		@import url('https://fonts.googleapis.com/css2?family=Pacifico &display=swap');
		.blockquote-custom {
			position: relative;
			font-size: 1.1rem;
		}

		.blockquote-custom-icon {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: -25px;
			left: 50px;

		}
	</style>

{% endblock %}
{% block body %}

	<div class="A">
		<section class="py-5">
			<div
				class="container">
				<!-- FOR DEMO PURPOSE -->
				<div class="row">
					<div class="col-lg-6 mx-auto">
						<header class="text-center pb-5">
							<h1 class="h2" style="color:#E67E22 ">Update Seance</h1>
						</header>
					</div>
				</div>
				<div class="row">
					<div
						class="col-lg-6 mx-auto">

						<!-- CUSTOM BLOCKQUOTE -->
						<blockquote style="color:#E67E22 " class="blockquote blockquote-custom bg-white p-5 shadow rounded">
							<div class="blockquote-custom-icon bg-info shadow-sm">
								<i class="fa fa-quote-left text-white"></i>
							</div>
							<class="mb-0mt-2font-italic">


								<p class="mb-0 mt-2 font-italic">

									{{ form_start(formUpdate)}}
									<div class="form-group">
										<label>Séance de</label>
										{{ form_widget(formUpdate.titre, {'attr': {'class': 'form-control' , 'placeholder' : 'Nom Séance'}}
										) }}
										{{ form_errors(formUpdate.titre   ) }}
										<label>Num Séance</label>
										{{ form_widget(formUpdate.nbr_seance, {'attr': {'class': 'form-control' , 'placeholder' : 'Num Séance'}}
										) }}
										{{ form_errors(formUpdate.nbr_seance   ) }}
										<label>Description</label>
										{{ form_widget(formUpdate.description , {'attr': {'class': 'form-control' , 'placeholder' : 'Description'}}
										) }}
										{{ form_errors(formUpdate.description ) }}
										<label>Nombre du groupe</label>
										{{ form_widget(formUpdate.nbr_grp , {'attr': {'class': 'form-control' , 'placeholder' : 'prix'}}
										) }}
										{{ form_errors(formUpdate.nbr_grp ) }}


									</div>
									{{ form_widget(formUpdate.submit , {'attr': {'class': 'btn btn-info'}}
									) }}

									{{ form_end(formUpdate) }}

								</p>
							</blockquote>
							<!-- END -->

						</div>
					</div>
				</div>
			{% endblock %}
