
 {% extends "base-back.html.twig" %} 
{% block title %} {% endblock %}
{% block body %}
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js') }}"crossorigin="anonymous"></script>

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
                <main>
                
                <div class="col-lg-8" >
                
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Tables</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="afficher_reclamation.html.twig">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol>
                </div>
                        <div class="col-lg-4" >
                     <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">filter</i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{path('afficher_reclamationt')}}">traité</a></li>
                        <li><a class="dropdown-item" href="{{path('afficher_reclamationnt')}}">non traité</a></li>
                        <li><a class="dropdown-item" href="{{path('afficher_reclamation')}}">show all</a></li>

                     
                    </ul>
                </li>
                </div>
                
                            <div class="card-body">
                                <table id="datatablesSimple" border="1">
                                    <thead>
                                        <tr>
                                            <th>Id-client</th>
                                              <th>reclamation sur</th>
                                            <th>Message</th>
                                             <th>Date reclamation</th>
                                            <th>etat</th>
                                            <th>Type</th>
                                          <th>Delete</th>
                                           <th>Traiter</th>

                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                  
                                    {% for r in rec %}
                                    <tr>
                                    <td>{{r.user.nom}}</td>
                                    {% if r.type == "reclamation_coach" %}

                                    <td>{{r.coach.nom}}</td>
                                  
                                    {% endif %}
                                    {% if r.type == "reclamation_club" %}

                                    <td>{{r.club.nom}}</td>
                                  
                                    {% endif %}
                                    {% if r.type == "reclamation_produit" %}

                                    <td>{{r.article.nom}}</td>
                                  
                                    {% endif %}
                                   
                                    
                                    <td>{{r.message}}</td>
                                   <td>{{r.datereclamation|date('d-m-Y')}}</td>
                                    <td>{{r.etat}}</td>
                                    <td>{{r.type}}</td>

   

<td>  <a  href=" {{ path('delete_reclamation_back',{'id':r.id}) }} "  class="btn btn-raised btn-primary btn-round waves-effect"> Delete
</a>

{% if r.etat=="non traité" %}

<td>  <a  href=" {{ path('traiter_reclamation',{'id':r.id}) }} "  class="btn btn-raised btn-primary btn-round waves-effect"> Traiter
</a>
{% endif %}  

                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% set rect = 0 %}
                    {% set recco = 0 %}
                    {% set reccl = 0 %}
                    {% set recp = 0 %}
                    {% for r in rec %}
                    {% if r.etat == " traité" %}
                    {% set rect = rect + 1 %}
                    {% endif %}
                    {% if r.type == "reclamation_coach" %}
                    {% set recco = recco + 1 %}
                    {% endif %}
                    {% if r.type == "reclamation_produit" %}
                    {% set recp = recp + 1 %}
                    {% endif %}
                    {% if r.type == "reclamation_club" %}
                    {% set reccl = reccl + 1 %}
                    {% endif %}
                    {% endfor %}

                   
                   
                </main>
                 <div class="row">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-pie me-1"></i>
                                        L'etat des reclamations
                                    </div>
                                    <div class="card-body"><canvas id="myPieChart1" width="150%" height="50"></canvas></div>
                                    
                                  
                            </div>
                            <div class="row">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-pie me-1"></i>
                                        Reclamation sur
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart1" width="150%" height="50"></canvas></div>
                                    
                            
           
  <script>
                    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
                    Chart.defaults.global.defaultFontColor = '#292b2c';

                    // Pie Chart Example
                    var ctx = document.getElementById("myPieChart1");
                    var myPieChart = new Chart(ctx, {
                     type: 'pie',
                        data: {
                     labels: ["Non Traité","Traité"],
                     datasets: [{
                     data: [{{rec|length - rect}}, {{rect}}],
                     backgroundColor: ['#dc3545',  '#28a745'],
    }],
  },
});
                    </script>
                    <script>
                    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
                    Chart.defaults.global.defaultFontColor = '#292b2c';

var ctx = document.getElementById("myBarChart1");
var myLineChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["Coach", "produit", "club"],
    datasets: [{
      label: "Total",
      backgroundColor: "rgba(2,117,216,1)",
      borderColor: "rgba(2,117,216,1)",
      data: [ {{recco}}, {{recp}}, {{reccl}} ],
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'month'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 6
        }
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: 30,
          maxTicksLimit: 3
        },
        gridLines: {
          display: true
        }
      }],
    },
    legend: {
      display: false
    }
  }
});
</script>

{% endblock %}
