{% extends 'base-back.html.twig' %}

{% block PageTitle %}
    Interface Admin ClubOwners        
{% endblock %}

{% block stylesheets %}
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
{% endblock %}
        
{% block body %}
    
    <h1>List of Club Owners</h1>
    
    <table>
        <thead>
            <tr>
                <th style="width: 5%">ID</th>
                <th style="width: 15%">Email</th>
                <th style="width: 10%">Name</th>
                <th style="width: 15%">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for i in clubOwner %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.nom }} {{ i.prenom }}</td>
                    <td>
                        <a href= "{{ path('remove_clubOwner',{'id':i.id}) }}"><i class="fas fa-trash text-danger"></i></a>&nbsp;&nbsp;&nbsp;
                        <a href= "{{ path('edit_clubOwner',{'id':i.id}) }}"><i class="fas fa-edit text-danger"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_admin_addClubOwner') }}" class="btn btn-primary">Ajouter un ClubOwner</a>

{% endblock %}
