{% extends "base-back.html.twig" %} 
{% block title %} {% endblock %}

{% block sidenav %}
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>

                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-columns"></i>
                                </div>
                                Reclamation
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{{path('afficher_reclamation')}}">Afficher reclamation</a>
                                    <a class="nav-link" href="{{path('afficher_note')}}">Afficher note</a>
                                </nav>
                            </div>
                   

                      
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
      

                                    
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-chart-area"></i>
                                </div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-table"></i>
                                </div>
                                Tables
                            </a>
                        </div>
                    {% endblock %}
{% block body %}
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Notes coachs</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="afficher_note.html.twig">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol>
                      
                            <div class="card-body">
                                <table id="datatablesSimple"border="1">
                                    <thead>
                                        <tr>
                                            <th>Note</th>
                                            <th>Identifiant-client</th>
                                            <th>Identifiant_coach</th>

                                        </tr>
                                    </thead>
                                 
                                    <tbody>
                                    {% for s in sco %}
                                    <tr>
                                    <td>{{s.note}}</td>
                                    <td>{{s.user.nom}} {{s.user.prenom}}</td>
                                    <td>{{s.coach.nom}} {{s.coach.prenom}}</td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>


                <table id="datatablesSimple">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Moyenne</th>
        </tr>
    </thead>
    <tbody>
        {% for c in topcoach %}
            <tr>
                <td>{{ c.nom }}</td>
                <td>{{ c.prenom }}</td>
                <td>{{ c.moyenne|number_format(2)}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>



                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

{% endblock %}
