
{% extends 'base-back.html.twig' %}
{% block sidenav %} 

        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon">
                        <i class="fas fa-columns"></i>
                 </div>
                Clubs
                <div class="sb-sidenav-collapse-arrow">
                        <i class="fas fa-angle-down"></i>
                </div>
        </a>
        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="{{path('add_club')}}">Ajouter un Club</a>
                         <a class="nav-link" href="{{path('list_club')}}">Liste des clubs</a>
                </nav>
        </div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon">
                        <i class="fas fa-columns"></i>
                 </div>
                Participations
                <div class="sb-sidenav-collapse-arrow">
                        <i class="fas fa-angle-down"></i>
                </div>
        </a>
        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="{{path('particip_adherants')}}"> Liste des Adhérants</a>
                        
                </nav>
        </div>

{% endblock %}
{% block body %}
<h2><center><mark>Editer votre club</mark></center></h2>
    
        <div class="container shadow p-3 mb-5 bg-white rounded mx-auto">
                {{ form_start(formClub,{'attr': {'novalidate': 'novalidate'}}) }}
                
                {{ form_label(formClub.nom, 'Nom du club', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(formClub.nom, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le nom du club'}}) }}
                {{form_errors(formClub.nom)}} 
            
                {{ form_label(formClub.telephone, 'Téléphone', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(formClub.telephone, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le numéro de télephone du club'}}) }}
                {{ form_errors(formClub.telephone) }}
                {{ form_label(formClub.Description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(formClub.Description, {'attr': {'class': 'form-control', 'placeholder': 'Entrez une description du club'}}) }}
                {{ form_label(formClub.type_activite, 'Type d\'activité', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(formClub.type_activite, {'attr': {'class': 'form-select', 'placeholder': 'Entrez le type d\activité du club'}}) }}
                {{ form_errors(formClub.type_activite, {'attr': {'class': 'form-error'}}) }}

                {{ form_row(formClub.localisation, {'attr': {'class': 'form-control', 'placeholder': 'Entrez la localisation du club'}}) }}
                {{ form_row(formClub.latitude, {'attr': {'class': 'form-control', 'placeholder': 'Entrez la latitude de localisation du club'}}) }}
           
                {{ form_row(formClub.longitude,{'attr': {'class': 'form-control', 'placeholder': 'Entrez la longitude de localisation du club'}}) }}
                <br>
                {{ form_row(formClub.image, {'attr': {'class': 'form-control-file'}}) }}
                <br>
                
                {{ form_end(formClub) }}
        </div>
   
                
{% endblock %}
